@model IEnumerable<ThAmCo.Events.Data.GuestBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <div>Total guests booked:  @Model.ToList().Count</div>
    <div>Guests Atended:  @Model.Where(m => m.Attended).ToList().Count</div>
    <div><a asp-action="Create" asp-route-eventId="@ViewData["EventId"]">Create New</a></div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attended)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-eventid="@item.EventId" asp-route-customerid="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
