@model IEnumerable<ThAmCo.Events.Data.EventStaffing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<p>
    <div>Total staff working:  @Model.ToList().Count</div>
    <a asp-action="Create" asp-route-eventId="@ViewData["EventId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff.FirstAider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstAider)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-eventid="@item.EventId" asp-route-staffid="@item.StaffId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
